*{
     margin: 0px;
     padding: 0%;
}
body{
background-color: rgb(255, 255, 255);

}



.casita{ 
    margin: 50px 50px 0 0;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;
    height: 150px;
  
     
 width: 0;
 height: 0;
 border-right: 100px solid transparent;
 border-top: 100px solid transparent;
 border-left: 100px solid transparent;
 border-bottom: 100px solid #f0ad4e;
}
 .techo{
    margin: 0px 50px 0 0;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;
    height: 150px;
    
    
    background-image: url(/imagen/descarga\ \(2\).jpg);
    background-repeat: no-repeat;
    
    
    
    
    
 
 }
 .puerta{
    margin: 0px 0px 0 0;
    margin-left: auto;
    margin-right: auto; 
    background-color: brown;
  display: flex;
    height: 50px;
    width:  23px;
   justify-content: center;
}